{% load helpers %}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>POC Core Model Extension</strong>
			</div>
			<table class="table table-hover panel-body attr-table">
				<tr>
					<td>MyModel</td>
                    <td>
                        <a {% if object.mymodel.exists %}href="{% url 'plugins:poc_core_model_extension:mymodel' slug=object.mymodel.first.slug %}"{% endif %}>{{ object.mymodel.first | placeholder }}</a>
                    </td>
				</tr>
			</table>
		</div>
	</div>
</div>